{% load static %}



<!-- Lets create our own footer, starts here -->


<!-- Footer ends here -->

</div>

<!-- Footer -->
<div class="jumbotron" id="footerbody">
<footer class="text-center text-lg-start bg-light text-muted">
  <div class="testfooter">



  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
      <!-- Content -->
      <h6 class="text-uppercase fw-bold mb-4 d-flex align-items-center">
          <a href="{% url 'home' %}">
              <img class="logobee" src="{% static 'images/Logo.png' %}" alt="No image found">
              <span class="ms-2">STAKER MINER 2024</span>
          </a>
      </h6>

  </div>
        <!-- Grid column -->

        <!-- Grid column -->

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" >
          <!-- Links -->


          <p class="footerhover">
            <a href="" class="text-reset">About Us</a>
          </p>
          <p class="footerhover">
            <a href="" class="text-reset">Contacts</a>
          </p>
          <p class="footerhover">
            <a href="" class="text-reset">Partnership</a>
          </p>
          <p class="footerhover">
            <a href="" class="text-reset">Regulations</a>
          </p>





        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->

          <p class="footerhover">
            <a href="" class="text-reset" >Legal</a>
          </p>
          <p class="footerhover">
            <a href="" class="text-reset">Help and support</a>
            </p>
        <p class="footerhover">
            <a href="" class="text-reset">Privacy policy</a>
          </p>

          <p class="footerhover">
            <a href="" class="text-reset">Security tips</a>
          </p>



        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->

          <p class="footerhover">
            <a href="" class="text-reset" >Welcome bonus

 </a>
          </p>
          <p class="footerhover">
            <a href="" class="text-reset">Loyalty programme</a>
            </p>
        <p class="footerhover">
            <a href="" class="text-reset">Crypto Mining</a>
          </p>

          <p class="footerhover">
            <a href="" class="text-reset"> Merge Accounts</a>
          </p>



        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 d-flex justify-content-center align-items-center">
            <!-- Links -->
            <div class="social-icons d-flex justify-content-between">
                <a href="https://facebook.com" target="_blank"><img src="{% static 'images/instagram.png' %}" alt="Facebook"></a>
                <a href="https://twitter.com" target="_blank"><img src="{% static 'images/facebook.png' %}" alt="Twitter"></a>
                <a href="https://instagram.com" target="_blank"><img src="{% static 'images/tweet.png' %}" alt="Instagram"></a>
                <a href="https://linkedin.com" target="_blank"><img src="{% static 'images/youtube.png' %}" alt="LinkedIn"></a>
            </div>
        </div>


        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
</div> <!-- end of test footer css -->


<!-- Footer -->

<!-- Lets create our own footer, starts here -->


<!-- Footer ends here -->

</div>
